[% INCLUDE js/moo.js %]

(function($)
{
  'use strict';

  window.Engine = function(content)
  {
    var engine = this;

    [% PROCESS setup.tt2 %]
    [% DEFAULT
      width  = 640
      height = 480

      max_do_aux           = 50
      show_phys_box        = 0
      show_draw_box        = 0
      show_click_box       = 0
      preload_interval     = 500
      paint_chunk_interval = 50
      chunk_draw_range     = 7
      bankrupt_frames      = 40

      debug        = 0
      show_map     = 0
      show_tiles   = 0
      engine_input = 1
      show_timings = 0

      tiles_bd = 0
      tiles_xw = 16
      tiles_yh = 16
      tiles_bg = "background.png"
      tiles_fg = "foreground.png"

      chunk_xw = 40
      chunk_yh = 30

      game_prefix = game.name.lower.replace('\W+', '_') || 'new_game'
      game_js = "${game_prefix}_js"
    %]

    [% BLOCK INCLUDE_MAYBE %]
      [%
        TRY ;
          PROCESS "$file" ;
        CATCH file ;
          CLEAR ;
          GET "/* NOPE: $file */" ;
          GET "/* $error */" ;
        END ;
      %]
    [% END %]

    [% PROCESS blocks.tt2 %]

    [% INCLUDE js/misc.js %]
    [% INCLUDE js/events.js %]
    engine.events = new Events()

    [% INCLUDE js/lprng.js %]
    [% INCLUDE js/physics.js %]
    [% INCLUDE js/tiles.js %]
    [% INCLUDE js/chunks.js %]
    [% INCLUDE js/gfx.js %]
    [% INCLUDE js/hud.js %]
    [% INCLUDE js/loader.js %]
    [% INCLUDE js/animation.js %]
    [% INCLUDE js/sprite.js %]
    [% INCLUDE js/ai.js %]
    [% INCLUDE js/layers.js %]
    [% INCLUDE js/cooldown2.js %]
    [% INCLUDE js/input.js %]
    [% INCLUDE js/noise.js %]

    [% INCLUDE js/runtime.js %]

    [% WRAPPER scope %]

      var game_state = {};

      [% WRAPPER scope %]
        var _files = {};

        [% FOREACH dir IN [ "action", "layer", "logic", "state" ] %]
          [% SET d = root.subdir("/lib/${dir}") %]
          [% FOREACH file IN d.files %]
            [% IF file.path.match('(?xms) tt 2? $') %]
              [% undef = PROCESS "${file.path}" %]
            [% END %]
          [% END %]

          [% FOREACH file IN d.files %]
            [% NEXT IF file.path.match('(?xms) tt 2? $') %]
            [%
              path = file.path
                .remove("^${basedir}")
                .remove('^/?lib/')
                .remove('[.]js$')
            %]

            /* [% path %] */
            _files[ '[% path %]' ] = function(require, exports, module)
            {
              [% INCLUDE "${file.path}" %]
            }
          [% END %]
        [% END %]

        [% WRAPPER scope %]
          var _modules = {};
          var require = function(module_id)
          {

            if (typeof _files[module_id] === "function")
            {
              var f = _files[module_id];
              delete _files[module_id];

              var exports = {}
              var module = {
                id: module_id,
                exports: exports,
              }
              _modules[module_id] = module

              f(require, exports, module);
            }

            if (_modules[module_id] == undefined)
              return;

            return _modules[module_id].exports;
          }

          $.each(_files, function(module_id)
          {
            require(module_id)
          });
        [% END %]
      [% END %]

    [% END %]

  }

})(jQuery);
